# with open('syntheticdata.txt', 'w') as f:
    for x in range(10):
        
        f.write('INSERT INTO STUDENT ' + {} + ', "fname", "lname", 2035, "email", 9999999999, "somewhere", "2020-12-15", 0, "U", 3.5, 24, 2, "CS", "CS"'.format(x) )

In [40]:
with open('syntheticdata.txt', 'w') as f:
    for x in range(10):
        f.write('INSERT INTO CLASSES VALUES ({}, \'CS\', \'SOME CLASS\', \'A CLASS\');\n'.format(x))
        f.write('INSERT INTO JOB VALUES ({}, {}, \'AJOB\', 3, \'DESCRIPTION\');\n'.format(x, x))
        f.write('INSERT INTO JOB_REQUIREMENTS VALUES ({}, {}, 3.0);\n'.format(x,x))

In [41]:
with open('syntheticdata.txt', 'a') as f:
    for x in range(20):
        f.write('INSERT INTO STUDENT VALUES ({}, \'fname\', \'lname\', 2035, \'email\', 9999999999, \'somewhere\', \'2020-12-15\', 0, \'U\', 3.5, 24, 2, \'CS\', \'CS\');\n'.format(x))

In [42]:
with open('syntheticdata.txt', 'a') as f:
    for x in range(10):
        f.write('INSERT INTO CLASSES_TAKEN VALUES ({}, {}, 3.95, 1, \'UMKC\', \'2020-11-18\');\n'.format(x, x))

In [43]:
with open('syntheticdata.txt', 'a') as f:
    for x in range(10):
        f.write('INSERT INTO CLASSES_TAKEN VALUES({}, {}, 3.95, 1, \'UMKC\', \'2020-11-18\');\n'.format(10 +x, x))

In [44]:
import random as rand
with open('syntheticdata.txt', 'a') as f:
    for x in range(10):
        f.write('INSERT INTO CLASSES_TAKEN VALUES ({}, {}, 3.95, 1, \'UMKC\', \'2020-11-18\');\n'.format(rand.randrange(0,20), rand.randrange(0,10)))